[submodule "emacs.d/emacs-color-theme-solarzied"]
	path = emacs.d/emacs-color-theme-solarzied
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
