[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/vim-latex"]
	path = vim/bundle/vim-latex
	url = git://vim-latex.git.sourceforge.net/gitroot/vim-latex/vim-latex
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "emacs.d/emacs-color-theme-solarzied"]
	path = emacs.d/emacs-color-theme-solarzied
	url = https://github.com/sellout/emacs-color-theme-solarized.git
