[Unit]
Description=Polipo Proxy Server

[Service]
ExecStart=/usr/bin/polipo -c %h/.config/polipo/config
Restart=on-failure

[Install]
WantedBy=default.target
